# Ignore project environment and secrets
server/.env
.env
.env.local
secrets.json

# Ignore Python virtual environment folders
venv/
.venv/
*.pyc
__pycache__/

# Ignore Docusaurus artifacts
.docusaurus/
build


# --- OS Specific ---
.DS_Store
Thumbs.db
*.swp

# --- IDEs ---
.vscode/
.idea/
*.iml
*.code-workspace

# --- Logs ---
*.log
logs/


# Web dependencies
frontend/node_modules/
frontend/.docusaurus/
frontend/build/

# Python dependencies
**/venv/
**/.venv/
**/__pycache__/
*.py[cod]

node_modules/
backend/venv/
