.about {
  padding: 4rem 0;
  background-color: var(--ifm-color-emphasis-100);
}

.aboutContainer {
  display: flex;
  gap: 2rem;
}

.aboutColumn {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
  }
}
