.whatsNew {
  padding: 4rem 0;
  color: #21924a
}

.updatesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.updateItem {
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-card-border-radius);
  padding: 1.5rem;
  transition: all 0.3s ease;
}

.updateItem:hover {
  transform: translateY(-5px);
  box-shadow: var(--ifm-global-shadow-lw);
}

.updateItem h3 {
  margin-top: 0;
}

.updateDate {
  color: var(--ifm-color-emphasis-600);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
